@charset "UTF-8";

:root {
    --cor-verde: #49a09d;
    --cor-lilas: #5f2c82;
}

@media screen and (min-width: 768px) and (max-width: 992px) {
    body {
        background-image: linear-gradient(to top, var(--cor-verde), var(--cor-lilas));
    }

    section#login {
        height: 290px;
        width: 80vw;
    }

    section#login > div#imagem {
        width: 30%;
        height: 100%;
        float: left;
        background-position: 40%;
    }

    section#login > div#formulario {
        width: 70%;
        float: right;
    }
}

@media screen and (min-width: 993px) {
    body {
        background-image: linear-gradient(to top, var(--cor-verde), var(--cor-lilas));
    }

    section#login {
        height: 350px;
        width: 950px;
    }

    section#login > div#imagem {
        float: right;
        height: 100%;
        width: 50%;
    }

    section#login > div#formulario {
        float: left;
        width: 50%;
    }

    div#formulario > h1 {
        font-size: 2em;
    }

    div#formulario > p {
        font-size: 1.2em;
    }
}